* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("bg-img.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.container {
  max-width: 400px;
  width: 100%;
  min-height: 400px;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  animation: fadeIn 0.8s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

h1 {
 
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  font-size: 4.5rem;
    margin-bottom: 30px;
  transition: 0.2s ease;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  gap: 10px;
}

button {
  flex: 1;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px;
  font-weight: bold;
  transition: all 0.3s ease;
}

#increment {
  background-color: #28a745;
}

#decrement {
  background-color: #dc3545;
}

#reset {
  background-color: #6c757d;
}

#reset {
  flex: 1.2;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .buttons {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}